* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.head-flexbox {
display: flexbox;
box-shadow: 0 0 0.5em rgb(204, 204, 204);
justify-content: center;
align-items: center;
background-color: rgb(240, 240, 240);
border-radius: 1.5em;
margin: 1em 0.5em;
padding: 1em;
}

.main-header{
    font-size: 4em;
    line-height: 0.8em;
    text-align: center;
}

.sub-header {
    font-size: 2em;
    text-align: center;
}

.table-header {
    font-size: 1.75em;
    text-align: center;
    display: flexbox;
    border-radius: 0.5em;
    margin: 1.5em 4.5em;
    padding: 1em;

}

.main-table {
    width: 100%;
    display: flexbox;
    box-shadow: 0 0 0.25em rgb(204, 204, 204);
    border-radius: 0.5em;
    margin: 1em 0.5em;
    margin-top: -4em;
    padding: 1em;
}

th {
    border: 1px solid #070707;
    background-color: rgb(206, 206, 206);
    text-align: left;
    padding: 8px;
}

td {
    border: 1px solid #070707;
    text-align: left;
    padding: 8px;
}

tr:hover {
    background-color: #ffbaba;
    cursor: pointer;
}